.tarjeta{
    text-align: center;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0 0 9px 9px rgb(204, 204, 204);
    background-color: rgb(156, 231, 162) ;
    font-size: small;
    align-items: center;
    margin: 20px;
}

.tarjeta img {
  border: black;
  border-style: solid;
  border-radius: 20px;
  width: 40%;
  margin-top: 10%;
  border-width: 4px;
}

.titulo{
  color: red;
  text-align: center;
}

.boton{
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}
 
