.container{    
    border-radius: 10px;    
    padding: 2px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   
    
}

.botonMas{
    border: solid 1px var(--light-gray);
    border-radius: 3px;
    font-size: 1.3em;
    text-align: center;
    margin-top: 15px;
    margin-left: 39%;
    }

.pm{
    padding: 8px 50px 5px 50px;
    margin-top: 7px;
}

.orientacion{
width: 100%;
display: flex;
flex-wrap: wrap;
align-items: flex-end;
flex-direction: row-reverse;
padding-right: 3%;
padding-bottom: 1%;
}

.columnas{
margin-right: 10px;
}


.filas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    color: rgb(177, 169, 169);
}


