.container{    
    border-radius: 10px;    
    padding: 2px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.botonMas{
    border: solid 1px var(--light-gray);
    display: block;
    width: 10%;
    border-radius: 3px;
    height: 47px;
    font-size: 1em;
    text-align: center;
    margin-top: 10px;
    align-items: center;
    margin-left: 45%;
}





